@model CreateViewModel

<h2>Create User</h2>
<hr>
<form action="Create" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName"/>
    </div>
    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input asp-for="FullName"/>
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
    </div>
    <button class="btn btn-primary">Kaydet</button>
</form>